$cell-width: 100px;
$days: 28, 29, 30, 31;
$week: ("mon": 0, "tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat": 5, "sun": 6);

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: $cell-width * 7 + 7;

  div {
    margin: 1px 1px 0 0;
    box-sizing: border-box;
    width: $cell-width;
    height: $cell-width;
    border: 1px solid black;
    display: none;
    text-align: center;
    transition: background-color 0.5s, transform 0.5s;
  }

  div:hover {
    background-color: pink;
    transform: translate(0, -20px);
  }
}

@each $day in $days {
  @for $i from 1 through $day {

    .calendar-#{$day} div:nth-child(#{$i}) {
      display: block;
    }

    .calendar-#{$day} div:nth-child(#{$i})::after {
      content: "#{$i}";
      line-height: $cell-width;
    }

  }
}

@each $x, $a in $week {
  .calendar-#{$x} :first-child {
    margin-left: $cell-width * $a + $a;
  }
}
