body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px; }

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 707px; }
  .calendar div {
    margin: 1px 1px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: none;
    text-align: center;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
    transition: background-color 0.5s, transform 0.5s, -webkit-transform 0.5s; }
  .calendar div:hover {
    background-color: pink;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px); }

.calendar-28 div:nth-child(1) {
  display: block; }

.calendar-28 div:nth-child(1)::after {
  content: "1";
  line-height: 100px; }

.calendar-28 div:nth-child(2) {
  display: block; }

.calendar-28 div:nth-child(2)::after {
  content: "2";
  line-height: 100px; }

.calendar-28 div:nth-child(3) {
  display: block; }

.calendar-28 div:nth-child(3)::after {
  content: "3";
  line-height: 100px; }

.calendar-28 div:nth-child(4) {
  display: block; }

.calendar-28 div:nth-child(4)::after {
  content: "4";
  line-height: 100px; }

.calendar-28 div:nth-child(5) {
  display: block; }

.calendar-28 div:nth-child(5)::after {
  content: "5";
  line-height: 100px; }

.calendar-28 div:nth-child(6) {
  display: block; }

.calendar-28 div:nth-child(6)::after {
  content: "6";
  line-height: 100px; }

.calendar-28 div:nth-child(7) {
  display: block; }

.calendar-28 div:nth-child(7)::after {
  content: "7";
  line-height: 100px; }

.calendar-28 div:nth-child(8) {
  display: block; }

.calendar-28 div:nth-child(8)::after {
  content: "8";
  line-height: 100px; }

.calendar-28 div:nth-child(9) {
  display: block; }

.calendar-28 div:nth-child(9)::after {
  content: "9";
  line-height: 100px; }

.calendar-28 div:nth-child(10) {
  display: block; }

.calendar-28 div:nth-child(10)::after {
  content: "10";
  line-height: 100px; }

.calendar-28 div:nth-child(11) {
  display: block; }

.calendar-28 div:nth-child(11)::after {
  content: "11";
  line-height: 100px; }

.calendar-28 div:nth-child(12) {
  display: block; }

.calendar-28 div:nth-child(12)::after {
  content: "12";
  line-height: 100px; }

.calendar-28 div:nth-child(13) {
  display: block; }

.calendar-28 div:nth-child(13)::after {
  content: "13";
  line-height: 100px; }

.calendar-28 div:nth-child(14) {
  display: block; }

.calendar-28 div:nth-child(14)::after {
  content: "14";
  line-height: 100px; }

.calendar-28 div:nth-child(15) {
  display: block; }

.calendar-28 div:nth-child(15)::after {
  content: "15";
  line-height: 100px; }

.calendar-28 div:nth-child(16) {
  display: block; }

.calendar-28 div:nth-child(16)::after {
  content: "16";
  line-height: 100px; }

.calendar-28 div:nth-child(17) {
  display: block; }

.calendar-28 div:nth-child(17)::after {
  content: "17";
  line-height: 100px; }

.calendar-28 div:nth-child(18) {
  display: block; }

.calendar-28 div:nth-child(18)::after {
  content: "18";
  line-height: 100px; }

.calendar-28 div:nth-child(19) {
  display: block; }

.calendar-28 div:nth-child(19)::after {
  content: "19";
  line-height: 100px; }

.calendar-28 div:nth-child(20) {
  display: block; }

.calendar-28 div:nth-child(20)::after {
  content: "20";
  line-height: 100px; }

.calendar-28 div:nth-child(21) {
  display: block; }

.calendar-28 div:nth-child(21)::after {
  content: "21";
  line-height: 100px; }

.calendar-28 div:nth-child(22) {
  display: block; }

.calendar-28 div:nth-child(22)::after {
  content: "22";
  line-height: 100px; }

.calendar-28 div:nth-child(23) {
  display: block; }

.calendar-28 div:nth-child(23)::after {
  content: "23";
  line-height: 100px; }

.calendar-28 div:nth-child(24) {
  display: block; }

.calendar-28 div:nth-child(24)::after {
  content: "24";
  line-height: 100px; }

.calendar-28 div:nth-child(25) {
  display: block; }

.calendar-28 div:nth-child(25)::after {
  content: "25";
  line-height: 100px; }

.calendar-28 div:nth-child(26) {
  display: block; }

.calendar-28 div:nth-child(26)::after {
  content: "26";
  line-height: 100px; }

.calendar-28 div:nth-child(27) {
  display: block; }

.calendar-28 div:nth-child(27)::after {
  content: "27";
  line-height: 100px; }

.calendar-28 div:nth-child(28) {
  display: block; }

.calendar-28 div:nth-child(28)::after {
  content: "28";
  line-height: 100px; }

.calendar-29 div:nth-child(1) {
  display: block; }

.calendar-29 div:nth-child(1)::after {
  content: "1";
  line-height: 100px; }

.calendar-29 div:nth-child(2) {
  display: block; }

.calendar-29 div:nth-child(2)::after {
  content: "2";
  line-height: 100px; }

.calendar-29 div:nth-child(3) {
  display: block; }

.calendar-29 div:nth-child(3)::after {
  content: "3";
  line-height: 100px; }

.calendar-29 div:nth-child(4) {
  display: block; }

.calendar-29 div:nth-child(4)::after {
  content: "4";
  line-height: 100px; }

.calendar-29 div:nth-child(5) {
  display: block; }

.calendar-29 div:nth-child(5)::after {
  content: "5";
  line-height: 100px; }

.calendar-29 div:nth-child(6) {
  display: block; }

.calendar-29 div:nth-child(6)::after {
  content: "6";
  line-height: 100px; }

.calendar-29 div:nth-child(7) {
  display: block; }

.calendar-29 div:nth-child(7)::after {
  content: "7";
  line-height: 100px; }

.calendar-29 div:nth-child(8) {
  display: block; }

.calendar-29 div:nth-child(8)::after {
  content: "8";
  line-height: 100px; }

.calendar-29 div:nth-child(9) {
  display: block; }

.calendar-29 div:nth-child(9)::after {
  content: "9";
  line-height: 100px; }

.calendar-29 div:nth-child(10) {
  display: block; }

.calendar-29 div:nth-child(10)::after {
  content: "10";
  line-height: 100px; }

.calendar-29 div:nth-child(11) {
  display: block; }

.calendar-29 div:nth-child(11)::after {
  content: "11";
  line-height: 100px; }

.calendar-29 div:nth-child(12) {
  display: block; }

.calendar-29 div:nth-child(12)::after {
  content: "12";
  line-height: 100px; }

.calendar-29 div:nth-child(13) {
  display: block; }

.calendar-29 div:nth-child(13)::after {
  content: "13";
  line-height: 100px; }

.calendar-29 div:nth-child(14) {
  display: block; }

.calendar-29 div:nth-child(14)::after {
  content: "14";
  line-height: 100px; }

.calendar-29 div:nth-child(15) {
  display: block; }

.calendar-29 div:nth-child(15)::after {
  content: "15";
  line-height: 100px; }

.calendar-29 div:nth-child(16) {
  display: block; }

.calendar-29 div:nth-child(16)::after {
  content: "16";
  line-height: 100px; }

.calendar-29 div:nth-child(17) {
  display: block; }

.calendar-29 div:nth-child(17)::after {
  content: "17";
  line-height: 100px; }

.calendar-29 div:nth-child(18) {
  display: block; }

.calendar-29 div:nth-child(18)::after {
  content: "18";
  line-height: 100px; }

.calendar-29 div:nth-child(19) {
  display: block; }

.calendar-29 div:nth-child(19)::after {
  content: "19";
  line-height: 100px; }

.calendar-29 div:nth-child(20) {
  display: block; }

.calendar-29 div:nth-child(20)::after {
  content: "20";
  line-height: 100px; }

.calendar-29 div:nth-child(21) {
  display: block; }

.calendar-29 div:nth-child(21)::after {
  content: "21";
  line-height: 100px; }

.calendar-29 div:nth-child(22) {
  display: block; }

.calendar-29 div:nth-child(22)::after {
  content: "22";
  line-height: 100px; }

.calendar-29 div:nth-child(23) {
  display: block; }

.calendar-29 div:nth-child(23)::after {
  content: "23";
  line-height: 100px; }

.calendar-29 div:nth-child(24) {
  display: block; }

.calendar-29 div:nth-child(24)::after {
  content: "24";
  line-height: 100px; }

.calendar-29 div:nth-child(25) {
  display: block; }

.calendar-29 div:nth-child(25)::after {
  content: "25";
  line-height: 100px; }

.calendar-29 div:nth-child(26) {
  display: block; }

.calendar-29 div:nth-child(26)::after {
  content: "26";
  line-height: 100px; }

.calendar-29 div:nth-child(27) {
  display: block; }

.calendar-29 div:nth-child(27)::after {
  content: "27";
  line-height: 100px; }

.calendar-29 div:nth-child(28) {
  display: block; }

.calendar-29 div:nth-child(28)::after {
  content: "28";
  line-height: 100px; }

.calendar-29 div:nth-child(29) {
  display: block; }

.calendar-29 div:nth-child(29)::after {
  content: "29";
  line-height: 100px; }

.calendar-30 div:nth-child(1) {
  display: block; }

.calendar-30 div:nth-child(1)::after {
  content: "1";
  line-height: 100px; }

.calendar-30 div:nth-child(2) {
  display: block; }

.calendar-30 div:nth-child(2)::after {
  content: "2";
  line-height: 100px; }

.calendar-30 div:nth-child(3) {
  display: block; }

.calendar-30 div:nth-child(3)::after {
  content: "3";
  line-height: 100px; }

.calendar-30 div:nth-child(4) {
  display: block; }

.calendar-30 div:nth-child(4)::after {
  content: "4";
  line-height: 100px; }

.calendar-30 div:nth-child(5) {
  display: block; }

.calendar-30 div:nth-child(5)::after {
  content: "5";
  line-height: 100px; }

.calendar-30 div:nth-child(6) {
  display: block; }

.calendar-30 div:nth-child(6)::after {
  content: "6";
  line-height: 100px; }

.calendar-30 div:nth-child(7) {
  display: block; }

.calendar-30 div:nth-child(7)::after {
  content: "7";
  line-height: 100px; }

.calendar-30 div:nth-child(8) {
  display: block; }

.calendar-30 div:nth-child(8)::after {
  content: "8";
  line-height: 100px; }

.calendar-30 div:nth-child(9) {
  display: block; }

.calendar-30 div:nth-child(9)::after {
  content: "9";
  line-height: 100px; }

.calendar-30 div:nth-child(10) {
  display: block; }

.calendar-30 div:nth-child(10)::after {
  content: "10";
  line-height: 100px; }

.calendar-30 div:nth-child(11) {
  display: block; }

.calendar-30 div:nth-child(11)::after {
  content: "11";
  line-height: 100px; }

.calendar-30 div:nth-child(12) {
  display: block; }

.calendar-30 div:nth-child(12)::after {
  content: "12";
  line-height: 100px; }

.calendar-30 div:nth-child(13) {
  display: block; }

.calendar-30 div:nth-child(13)::after {
  content: "13";
  line-height: 100px; }

.calendar-30 div:nth-child(14) {
  display: block; }

.calendar-30 div:nth-child(14)::after {
  content: "14";
  line-height: 100px; }

.calendar-30 div:nth-child(15) {
  display: block; }

.calendar-30 div:nth-child(15)::after {
  content: "15";
  line-height: 100px; }

.calendar-30 div:nth-child(16) {
  display: block; }

.calendar-30 div:nth-child(16)::after {
  content: "16";
  line-height: 100px; }

.calendar-30 div:nth-child(17) {
  display: block; }

.calendar-30 div:nth-child(17)::after {
  content: "17";
  line-height: 100px; }

.calendar-30 div:nth-child(18) {
  display: block; }

.calendar-30 div:nth-child(18)::after {
  content: "18";
  line-height: 100px; }

.calendar-30 div:nth-child(19) {
  display: block; }

.calendar-30 div:nth-child(19)::after {
  content: "19";
  line-height: 100px; }

.calendar-30 div:nth-child(20) {
  display: block; }

.calendar-30 div:nth-child(20)::after {
  content: "20";
  line-height: 100px; }

.calendar-30 div:nth-child(21) {
  display: block; }

.calendar-30 div:nth-child(21)::after {
  content: "21";
  line-height: 100px; }

.calendar-30 div:nth-child(22) {
  display: block; }

.calendar-30 div:nth-child(22)::after {
  content: "22";
  line-height: 100px; }

.calendar-30 div:nth-child(23) {
  display: block; }

.calendar-30 div:nth-child(23)::after {
  content: "23";
  line-height: 100px; }

.calendar-30 div:nth-child(24) {
  display: block; }

.calendar-30 div:nth-child(24)::after {
  content: "24";
  line-height: 100px; }

.calendar-30 div:nth-child(25) {
  display: block; }

.calendar-30 div:nth-child(25)::after {
  content: "25";
  line-height: 100px; }

.calendar-30 div:nth-child(26) {
  display: block; }

.calendar-30 div:nth-child(26)::after {
  content: "26";
  line-height: 100px; }

.calendar-30 div:nth-child(27) {
  display: block; }

.calendar-30 div:nth-child(27)::after {
  content: "27";
  line-height: 100px; }

.calendar-30 div:nth-child(28) {
  display: block; }

.calendar-30 div:nth-child(28)::after {
  content: "28";
  line-height: 100px; }

.calendar-30 div:nth-child(29) {
  display: block; }

.calendar-30 div:nth-child(29)::after {
  content: "29";
  line-height: 100px; }

.calendar-30 div:nth-child(30) {
  display: block; }

.calendar-30 div:nth-child(30)::after {
  content: "30";
  line-height: 100px; }

.calendar-31 div:nth-child(1) {
  display: block; }

.calendar-31 div:nth-child(1)::after {
  content: "1";
  line-height: 100px; }

.calendar-31 div:nth-child(2) {
  display: block; }

.calendar-31 div:nth-child(2)::after {
  content: "2";
  line-height: 100px; }

.calendar-31 div:nth-child(3) {
  display: block; }

.calendar-31 div:nth-child(3)::after {
  content: "3";
  line-height: 100px; }

.calendar-31 div:nth-child(4) {
  display: block; }

.calendar-31 div:nth-child(4)::after {
  content: "4";
  line-height: 100px; }

.calendar-31 div:nth-child(5) {
  display: block; }

.calendar-31 div:nth-child(5)::after {
  content: "5";
  line-height: 100px; }

.calendar-31 div:nth-child(6) {
  display: block; }

.calendar-31 div:nth-child(6)::after {
  content: "6";
  line-height: 100px; }

.calendar-31 div:nth-child(7) {
  display: block; }

.calendar-31 div:nth-child(7)::after {
  content: "7";
  line-height: 100px; }

.calendar-31 div:nth-child(8) {
  display: block; }

.calendar-31 div:nth-child(8)::after {
  content: "8";
  line-height: 100px; }

.calendar-31 div:nth-child(9) {
  display: block; }

.calendar-31 div:nth-child(9)::after {
  content: "9";
  line-height: 100px; }

.calendar-31 div:nth-child(10) {
  display: block; }

.calendar-31 div:nth-child(10)::after {
  content: "10";
  line-height: 100px; }

.calendar-31 div:nth-child(11) {
  display: block; }

.calendar-31 div:nth-child(11)::after {
  content: "11";
  line-height: 100px; }

.calendar-31 div:nth-child(12) {
  display: block; }

.calendar-31 div:nth-child(12)::after {
  content: "12";
  line-height: 100px; }

.calendar-31 div:nth-child(13) {
  display: block; }

.calendar-31 div:nth-child(13)::after {
  content: "13";
  line-height: 100px; }

.calendar-31 div:nth-child(14) {
  display: block; }

.calendar-31 div:nth-child(14)::after {
  content: "14";
  line-height: 100px; }

.calendar-31 div:nth-child(15) {
  display: block; }

.calendar-31 div:nth-child(15)::after {
  content: "15";
  line-height: 100px; }

.calendar-31 div:nth-child(16) {
  display: block; }

.calendar-31 div:nth-child(16)::after {
  content: "16";
  line-height: 100px; }

.calendar-31 div:nth-child(17) {
  display: block; }

.calendar-31 div:nth-child(17)::after {
  content: "17";
  line-height: 100px; }

.calendar-31 div:nth-child(18) {
  display: block; }

.calendar-31 div:nth-child(18)::after {
  content: "18";
  line-height: 100px; }

.calendar-31 div:nth-child(19) {
  display: block; }

.calendar-31 div:nth-child(19)::after {
  content: "19";
  line-height: 100px; }

.calendar-31 div:nth-child(20) {
  display: block; }

.calendar-31 div:nth-child(20)::after {
  content: "20";
  line-height: 100px; }

.calendar-31 div:nth-child(21) {
  display: block; }

.calendar-31 div:nth-child(21)::after {
  content: "21";
  line-height: 100px; }

.calendar-31 div:nth-child(22) {
  display: block; }

.calendar-31 div:nth-child(22)::after {
  content: "22";
  line-height: 100px; }

.calendar-31 div:nth-child(23) {
  display: block; }

.calendar-31 div:nth-child(23)::after {
  content: "23";
  line-height: 100px; }

.calendar-31 div:nth-child(24) {
  display: block; }

.calendar-31 div:nth-child(24)::after {
  content: "24";
  line-height: 100px; }

.calendar-31 div:nth-child(25) {
  display: block; }

.calendar-31 div:nth-child(25)::after {
  content: "25";
  line-height: 100px; }

.calendar-31 div:nth-child(26) {
  display: block; }

.calendar-31 div:nth-child(26)::after {
  content: "26";
  line-height: 100px; }

.calendar-31 div:nth-child(27) {
  display: block; }

.calendar-31 div:nth-child(27)::after {
  content: "27";
  line-height: 100px; }

.calendar-31 div:nth-child(28) {
  display: block; }

.calendar-31 div:nth-child(28)::after {
  content: "28";
  line-height: 100px; }

.calendar-31 div:nth-child(29) {
  display: block; }

.calendar-31 div:nth-child(29)::after {
  content: "29";
  line-height: 100px; }

.calendar-31 div:nth-child(30) {
  display: block; }

.calendar-31 div:nth-child(30)::after {
  content: "30";
  line-height: 100px; }

.calendar-31 div:nth-child(31) {
  display: block; }

.calendar-31 div:nth-child(31)::after {
  content: "31";
  line-height: 100px; }

.calendar-mon :first-child {
  margin-left: 0px; }

.calendar-tue :first-child {
  margin-left: 101px; }

.calendar-wed :first-child {
  margin-left: 202px; }

.calendar-thu :first-child {
  margin-left: 303px; }

.calendar-fri :first-child {
  margin-left: 404px; }

.calendar-sat :first-child {
  margin-left: 505px; }

.calendar-sun :first-child {
  margin-left: 606px; }

/*# sourceMappingURL=main.css.map */
